<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Display with Movable Circles</title>
    <style>
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body style="background-color: black;">
    <svg id="map-svg" viewBox="0 0 1024 1024">
        <image id="map-image" href="{{ image_path }}" width="100%" height="100%"/>
        <g id="circle-layer">
            <!-- Circles will be added here by JavaScript -->
        </g>
    </svg>

    <script>
        const username = "{{ username }}";
        const numCircles = 64; // Set the number of circles you want
        const circleRadius = 10; // Set the radius of the circles

        function createCircles(num) {
            const circleLayer = document.getElementById('circle-layer');
            // Clear existing circles
            circleLayer.innerHTML = '';

            for (let i = 0; i < num/2; i++) {
                const circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
                circle.setAttribute('id', 'map-circle-' + i);
                circle.setAttribute('fill', 'rgba(255, 0, 0, 0.5)');
                circle.setAttribute('cx', 100 + i * 30); // Initial x position
                circle.setAttribute('cy', -100); // Initial y position
                circle.setAttribute('r', circleRadius);
                circleLayer.appendChild(circle);
            }
	    for (let i = 0; i < num/2; i++) {
                const circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
                circle.setAttribute('id', 'map-circle-' + (i+num/2));
                circle.setAttribute('fill', 'rgba(0, 0, 255, 0.5)');
                circle.setAttribute('cx', 100 + (i+num/2) * 30); // Initial x position
                circle.setAttribute('cy', 100); // Initial y position
                circle.setAttribute('r', circleRadius);
                circleLayer.appendChild(circle);
            }

            setupListeners(); // Re-setup listeners after creating new circles
        }

        function moveCircle(evt) {
            const circleId = evt.target.id;
            const circle = document.getElementById(circleId);
            const svg = document.getElementById('map-svg');

            const viewBox = svg.viewBox.baseVal;
            const viewBoxWidth = viewBox.width;
            const viewBoxHeight = viewBox.height;

            const point = svg.createSVGPoint();
            point.x = evt.clientX || evt.touches[0].clientX;
            point.y = evt.clientY || evt.touches[0].clientY;
            const svgPoint = point.matrixTransform(svg.getScreenCTM().inverse());

            const cx = Math.max(Math.min(svgPoint.x, viewBoxWidth), 0);
            const cy = Math.max(Math.min(svgPoint.y, viewBoxHeight), 0);

            circle.setAttribute('cx', cx);
            circle.setAttribute('cy', cy);
        }

        function setupListeners() {
            const circles = document.querySelectorAll('#circle-layer circle');
            circles.forEach(circle => {
                circle.addEventListener('mousedown', startMove);
                circle.addEventListener('touchstart', startMove);
            });

            function startMove(evt) {
                evt.preventDefault();
                const moveHandler = (e) => moveCircle(e);
                const endMoveHandler = () => {
                    window.removeEventListener('mousemove', moveHandler);
                    window.removeEventListener('touchmove', moveHandler);
                    window.removeEventListener('mouseup', endMoveHandler);
                    window.removeEventListener('touchend', endMoveHandler);
                };
                window.addEventListener('mousemove', moveHandler);
                window.addEventListener('touchmove', moveHandler);
                window.addEventListener('mouseup', endMoveHandler);
                window.addEventListener('touchend', endMoveHandler);
            }
        }

        function updateCircleSize() {
            const mapImage = document.getElementById('map-image');
            const mapWidth = mapImage.naturalWidth;
            const scaleX = mapImage.getBoundingClientRect().width / mapWidth;

            if (mapWidth > 0) {
                const circles = document.querySelectorAll('#circle-layer circle');
                circles.forEach(circle => {
                    circle.setAttribute('r', circleRadius * scaleX);
                });
            }
        }

        

        async function updateCirclePosition() {
            try {
                const response = await fetch(`${window.location.origin}/radar/${username}/coordinates`);
                
                // Check if the response is okay
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const responseData = await response.json();

                // Check if the matrix exists and is an array
                if (!responseData.matrix || !Array.isArray(responseData.matrix)) {
                    throw new TypeError('Fetched data is not an array');
                }

                const matrix = responseData.matrix;

                const mapImage = document.getElementById('map-image');
                const mapWidth = mapImage.naturalWidth; // Get the natural width of the image
                const scaleX = mapImage.getBoundingClientRect().width / mapWidth;

                // Iterate over the matrix and update each circle's position
                for (let i = 0; i < matrix.length; i++) {
                    const data = {
                        id_circle: `map-circle-${matrix[i][0]}`, // Construct id based on matrix index
                        x: matrix[i][1],
                        y: matrix[i][2]
                    };

                    console.log(data.id_circle);
                    const circle = document.getElementById(data.id_circle);

                    if (circle) {
                        console.log(circle);
                        const circleRadius = 10; // Adjust this multiplier as needed
                        circle.setAttribute('cx', data.x); // Adjust x coordinate based on scale
                        circle.setAttribute('cy', data.y); // Adjust y coordinate based on scale
                        circle.setAttribute('r', circleRadius); // Update circle radius
                        console.log(`Updated circle ${data.id_circle} to (${data.x}, ${data.y})`);
                    } else {
                        console.warn(`Circle with id ${data.id_circle} not found`);
                    }
                }
            } catch (error) {
                console.error('Error fetching coordinates:', error);
            }
        }


        createCircles(numCircles);
        setupListeners();
        updateCircleSize();
        window.addEventListener('DOMContentLoaded', updateCircleSize);
        window.addEventListener('resize', updateCircleSize);
        updateCirclePosition(1);
        setInterval(updateCirclePosition, 200);
    </script>
</body>
</html>
